:root {
  --in-content-text-color: #0c0c0d;
  --text-color: var(--in-content-text-color);
  --base-unit: 4px;
  --secondary-text-color: var(--grey-50);
  --色: red;
}

body {
  background: url("chrome://browser/skin/bookmark.svg");
}

a {
  background-image: url("chrome://browser/skin/bookmark.svg");
}

div {
  background-image: url(chrome://browser/skin/bookmark.svg);
}
