*~
.fontello-sid
.vagrant
.vscode
fastcgi/obj
./temp-index
*.o
*.dwo
*.so
*.pyc
clang-plugin/testfiles
clang-plugin/analysis
clang-plugin/.cache
clang-plugin/compile_commands.json
/js
tools/target
/scripts/web-analyze/wasm-css-analyzer/target
/scripts/web-analyze/wasm-css-analyzer/pkg
/scripts/web-analyze/wasm-css-analyzer/out
paths
env
repos
/index
/config
addons
/tests/tests/checks/explanations
/trees/*
!/trees/README.md
/tree-configs/*
!/tree-configs/README.md
.direnv
mozsearch-firefox*
