*~
.fontello-sid
.vagrant
.vscode
fastcgi/obj
./temp-index
*.o
*.dwo
*.so
*.pyc
clang-plugin/testfiles
clang-plugin/analysis
/js
tools/target
paths
env
repos
/index
/config
addons
/tests/tests/checks/explanations
