<tr>
  <td
  {% if node.colspan != 1 %}
    colspan="{{ node.colspan }}"
  {% endif %}
  >
    <span data-symbols="{{ node.sym }}">{%- include 'query_results/basic_markup_array.liquid' markup: node.label -%}</span>
  </td>
  {% for col in node.colVals %}
    {% if col.header %}<th>{% else %}<td>{% endif %}
      {%- include 'query_results/basic_markup_array.liquid' markup: col.contents -%}
    {% if col.header %}</th>{% else %}</td>{% endif %}
  {% endfor %}
</tr>
{%- for kid in node.children -%}
  {%- include 'query_results/symbol_tree_table_node.liquid' node: kid -%}
{%- endfor -%}
