<div id="symbol-tree-table-list"
{%- if results.SymbolTreeTableList.className %} class="{{ results.SymbolTreeTableList.className }}"{% endif -%}>
{% for table in results.SymbolTreeTableList.tables %}
    {% include 'query_results/symbol_tree_table.liquid' table: table, forloop: forloop %}
{% endfor %}
</div>
