@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/fonts/icons.woff?2013') format('woff'),
         url('/static/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.in-progress #spinner {
    background: transparent url('/static/images/spinner-large.gif') 0 0 / contain no-repeat;
}
#spinner {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 2rem;
    width: auto;
    bottom: 10px
}

