<table class="results">

{% for filename, matches in files %}

<tr class="result-head">
  <td class="left-column">
    <div class="js icon-container"></div>
  </td>
  <td>

{% for elt in filename.split("/") %}
    <a href="url1">{{ elt }}</a>
{% if not loop.last %}
    <span class="path-separator">/</span>
{% endif %}
{% endfor %}
  </td>
</tr>

{% for match in matches %}

<tr>
  <td class="left-column">
    <a href="/mozilla-central/source/{{math.path}}#{{ match.lno }}">{{ match.lno }}</a>
  </td>
  <td>
    <a href="/mozilla-central/source/{{match.path}}#{{ match.lno }}">
      <code>{{ match.line|escape }}</code>
    </a>
  </td>
</tr>

{% endfor %}

{% endfor %}

</table>
