{%- if path == empty -%}
  {%- assign title = "/ - mozsearch" -%}
{%- else -%}
  {%- capture title %}{{ path | escape }} - mozsearch{% endcapture -%}
{%- endif -%}
{% include 'header_search.liquid' title: title, autofocus: false %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {% include 'breadcrumbs.liquid' path: path, hidden: false %}

    {%- include 'query_results/file_table.liquid' files: files %}
  </div>
  {% include 'scroll_footer.liquid' %}
</div>
{% include 'footer.liquid' %}
