{%- if path == empty -%}
  {%- assign title = "/ - mozsearch" -%}
{%- else -%}
  {%- capture title %}{{ path | escape }} - mozsearch{% endcapture -%}
{%- endif -%}
{% include 'header_search.liquid' title: title, autofocus: false, rev_box: rev_box %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {% include 'breadcrumbs.liquid' path: path, hidden: false, is_graph: false %}
    {% include 'navigation_panel.liquid' expanded: false, panel: panel %}
    {%- if coverage_history != nil -%}
      {%- include 'coverage_history.liquid' coverage_history: coverage_history, path: path %}
    {%- endif -%}
    {%- include 'query_results/file_table.liquid' files: files %}
  </div>
  {% include 'scroll_footer.liquid' %}
</div>
{% include 'footer.liquid' %}
