{% include 'header_search.liquid' title: "Searchfox", autofocus: true %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {{ content }}
  </div>
  {% include 'scroll_footer.liquid' %}
</div>
{% include 'footer.liquid' %}
