{% include 'header_search.liquid' title: "Searchfox", autofocus: true %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {{ content }}
  </div>

  <!-- avoid inline JS and use data attributes instead. Hackey but hey... -->
  <span id="data" data-root="/" data-search="/{{tree}}/search" data-tree="{{tree}}"></span>
</div>
{% include 'footer.liquid' %}
