{% include 'header_search.liquid' title: "Searchfox", autofocus: true, rev_box: false %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {% include 'breadcrumbs.liquid' path: "", hidden: true %}
    {% include 'navigation_panel.liquid' expanded: false, panel: null %}
    {{ content }}
  </div>
  {% include 'scroll_footer.liquid' %}
</div>
{% include 'footer.liquid' %}
