{%- capture title %}Q: {{ query | escape }}{% endcapture -%}
{% include 'header_query.liquid' title: title, autofocus: true %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    {% for result_pair in results %}
      {% case result_pair[0] %}
        {% when "FlattenedResultsBundle" %}
            {% include 'query_results/rb_root.liquid' %}
          {% when "GraphResultsBundle" %}
            {% include 'query_results/graph_root.liquid' %}
          {% when "TextFile" %}
            {% include 'query_results/text_file_root.liquid' %}
        {% else %}
          Unhandled results type {{result_pair[0]}}!
        {% endcase %}
      {% endfor %}
  </div>

  <!-- avoid inline JS and use data attributes instead. Hackey but hey... -->
  <span id="data" data-root="/" data-search="/{{tree}}/query/default" data-tree="{{tree}}"></span>
</div>
{% include 'footer.liquid' %}
