{% include 'header_search.liquid' title: "{{TITLE}} - mozsearch", autofocus: false %}
<div id="scrolling">
  <div id="content" class="content" data-no-results="No results for current query.">
    <script>
      var results = {{ "{{BODY}}" }};
      window.addEventListener("load", function() { showSearchResults(results); });
    </script>
  </div>
  {% include 'scroll_footer.liquid' %}
</div>
{% include 'footer.liquid' %}
