[package]
name = "tools"
version = "0.1.0"
authors = ["Bill McCloskey <billm@mozilla.com>"]

[dependencies]
chrono = "0.2"
rustc-serialize = "0.3.18"
git2 = "0.7"
lazy_static = "0.2.1"
hyper = "0.10"
log = "0.4.0"
env_logger = "0.5.13"
regex = "1"
ipdl_parser = { path = "./ipdl_parser" }
getopts = "0.2.19"
memmap = "0.5.0"
linkify = "0.2.0"
rls-analysis = "0.16"
rls-data = "0.18"
clap = "2"

# Build release mode with line number info for easier debugging when
# we hit panics in production
[profile.release]
debug = 1
