[package]
name = "tools"
version = "0.1.0"
authors = ["Bill McCloskey <billm@mozilla.com>"]

[dependencies]
chrono = "0.2"
rustc-serialize = "0.3.18"
git2 = { path = "./git2-rs" }
lazy_static = "0.2.1"
hyper = "0.9"
env_logger = "0.3.3"
regex = "0.1"
ipdl_parser = { path = "./ipdl_parser" }
getopts = "0.2.14"
